@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Mostest Funnest APIs Evar</h1>
    <p><a href="/api/generatearandomnumber">Generate a random number</a></p>
    <p><a href="/api/chucknorrisfact">Get a Chuck Norris fact</a></p>
    <p><a href="/api/seleucids">Meet the Seleucids</a></p>
    <p><a href="/api/ateacher">A Teacher (Xml)</a></p>
    <p><a href="/api/yourteachers">Your Teachers (Xml)</a></p>
    <p><a href="/api/parks">Park Data</a></p>
</div>
